
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
main{
  display: grid;
  place-content: center;
  padding: 2rem;
}

body{
        background-color:hsl(0, 0%, 95%);
        height: 100vh;
        font-family:"Lexend Deca", sans-serif;
        font-size: 15px;

}

  h2 {
    font-family:  "Big Shoulders Display", cursive;
    text-transform: uppercase;
    font-size: 3rem;
    margin: 2rem 0;
    color: hsl(0, 0%, 95%);
  }
p {
    line-height: 1.6;
    letter-spacing: 0.1rem;
    color: hsl(0, 0%, 90%);
  }

.card {
    color: white;
    padding: 4rem;
    border: none;
    outline: none;

}

.card--orange{
background-color: hsl(31, 77%, 52%);
  border-radius:  1rem 1rem 0 0;


}
.btn--orange{
	color: hsl(31, 77%, 52%);
	  border: 2px solid hsl(31, 77%, 52%);
}
.card--cyan{
	background-color: hsl(184, 100%, 22%);}

.btn--cyan {
  border: 2px solid hsl(184, 100%, 22%);
  color: hsl(184, 100%, 22%);
}

.card--dcyan{
	background-color: hsl(179, 100%, 13%);
         border-radius: 0 0 1rem 1rem;;
}
.btn--dcyan{
border: 2px solid hsl(179, 100%, 13%);
  color:hsl(179, 100%, 13%);
}

.btn{
	 border: none;
  outline: none;
  background-color: hsl(0, 0%, 95%);
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  font-family: inherit;
  margin: 2rem 0 0 0;
}
  .btn:active {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
  }
.attribution {
  font-size: 1.4rem;
  text-align: center;
  background-color: rgb(32, 32, 32);
  color: white;
  bottom: 0;
  padding: 1rem;
}
.attribution a {
  color: wheat;
}

/* Media Query for big screens*/
@media (min-width: 1440px) {
  body {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  main {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70%;
    margin: auto;
 }

  .card--orange {
    border-radius: 1rem 0 0 1rem;
  }

  .card--dcyan {
    border-radius: 0 1rem 1rem 0;
  }

  .btn {
    margin-top: 8rem;
    padding: 1.5rem 4rem;
    border-radius: 4rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    background-color: hsl(0, 0%, 95%);
  }

  .card
   , h2 {
      font-size: 2rem;
      margin: 4rem 0;
    }

    p {
      max-width: 86%;
    }
  }



